.profile-buttons {
  display: flex;
  justify-content: center;
}
.new-post {
  position: relative;
  background: #fff;
  padding: 25px 40px 15px;
  border-radius: 25px;
  margin-top: 15px;
  &__title {
    font-size: 24px;
    color: #000;
  }
  &__form__input {
    display: block;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 440px;
    padding: 10px 0;
    margin-bottom: 10px;
    color:#000;
  }
  fieldset {
    border: none;
  }
  &__price {
    margin: 10px 0;
    label {
      filter: invert(1);
      img {
        opacity: 0.4;
        padding: 5px;
        height: 32px;
      }
    }
    &__input {
      display: none;
      &:checked + label img {
        opacity: 1;
      }
    }
  }
  &__button {
    position: absolute;
    top:10px;
    right:20px;
    border: none;
    font-size: 32px;
    padding: 0;
    padding: 10px 20px;
    span {
      color:#000;
      font-size: 20px;
    }
  }
}
#profile__image__input {
  display: none;
}
.profile__text__input {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 1079px) {
  .new-post__form__input {
    width: 100%;
  }
}